@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#updateModalBack {
  position: fixed;
  top: 0vh;
  left: 0vw;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 1;
  background-color: rgba(120, 53, 15, 0.678);
}

#updateModalCard {
  position: fixed;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  z-index: 2;
  background-color: #FFFBEB;
}

/* The following 3 rulesets fix the null modal issue of selecting the img, keeps the tr and img under the td's while always displaying the img */

tr {
  position: relative;
  z-index: -2;
}

tr > td {
  background-color: transparent!;
}
td > img {
  position: relative;
  z-index: -1;
}

/* the following input rules remove arrows from number input on all browsers */

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide thumbnails when screen size is too small to look good */

@media only screen and (max-width: 500px) {
  tr img {
    display: none;
  }
}
