@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#addBook {
  box-shadow: 15px 5px 10px 0.5px rgb(253, 237, 174);
}

#updateModalBack {
  display: flex;
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(120, 53, 15, 0.75);
  justify-self: flex-start;
  align-self: center;
  z-index: 3;
  justify-content: center;
  align-items: center;
}

#updateModalCard {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50%;
  max-width: 500px;
  padding: 0.5rem;
  z-index: 4;
  background-color: rgb(255, 251, 235);
  border-radius: 0.5rem;
}

#modalClose {
  display: flex;
  align-self: flex-end;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 60%;
  background-color: transparent;
  order: 1;
}

#modalImg {
  border-radius: 0.5rem;
  display: flex;
  align-self: center;
  margin-bottom: 1rem;
  order: 2;
  padding: 0.25rem;
}

#modalForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  order: 3;
}

@media only screen and (min-width: 768px) {
  #updateBtn {
    padding: 2.5px;
    border-radius: 2rem;
    box-shadow: 15px 5px 10px 0.5px rgb(253, 237, 174);
  }
}

@media only screen and (max-width: 768px) {
  #updateBtn {
    text-decoration: underline;
  }
}

#modalInput {
  background-color: #fffbeb;
  border-radius: 0.25rem;
}
#modalInput:focus {
  background-color: rgb(254 243 199);
  border: 1px solid rgb(180 83 9);
  outline: none;
}
/* The following 3 rulesets fix the null modal issue of selecting the img, keeps the tr and img under the td's while always displaying the img */

tr {
  position: relative;
  z-index: 1;
  padding: 2.5px;
  border-radius: 0.25rem;
  box-shadow: 15px 5px 10px 0.5px rgb(253, 237, 174);
}

tr > td {
  background-color: transparent!;
}
td > img {
  position: relative;
  z-index: -2;
}

/* the following input rules remove arrows from number input on all browsers */

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide thumbnails when screen size is too small to look good */

@media only screen and (max-width: 500px) {
  tr img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #modalClose {
    font-size: 1rem;
  }
}
